<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../../head') %>
    <title><%= setting.siteName %></title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= setting.siteName %>" />
    <meta name="og:description" content="<%= setting.siteDescription %>" />
    <meta property="og:url" content="<%= setting.siteDomain %>" />
    <%- include('../../ogImage') %>

    <meta property="type" content="website" />
    <meta property="title" content=" <%= pageTitle %>" />
    <meta property="siteName" content="<%= setting.siteName %>" />
    <meta property="url" content="<%= setting.siteDomain %>" />
    <meta property="description" content="<%= setting.siteDescription %>" />
    <meta name="description" content="바이크카페 라이더카페 바이크정비 바이크샵 바이크용품 정보제공">

    <meta name="tag" content="<%= setting.siteKeywords %>" />

    <link rel="canonical" href="<%= setting.siteDomain %>" />
    <link
    rel="stylesheet"
    href="/stylesheets/template/index/<%= setting.indexTemplate %>.css"
    />

    <meta name="naver-site-verification" content="982882124ebb174182330eadae77d4fedeb79402" />
    <meta name="msvalidate.01" content="0E8C9F7BC58F94D10EFDBADC775D8E72" />
  </head>
  <body>
    <%- include('../../commons') %> <%- include('../../header') %>
    <main>
      <%- include('../../aside', { mobile: false }) %>
      <article>
        <%- include('../../banner', { position: 'popup' }) %> <%-
        include('../../banner', { position: 'indexTop' }) %>
        


  <!-- <% if  (setting.indexH1) { %>
        <h1><%= setting.indexH1 %></h1><% } %> 
        
        <% if (setting.indexH2) { %>
        <h2><%= setting.indexH2 %></h2>
        <% } %>  -->
          
        <%- include('../../sectionGroup', { sectionGroups:indexSectionGroups }) %> 
        
        <%- include('../../banner', { position:
        'indexBottom' }) %>
      </article>
      <%- include('../../aside', { mobile: true }) %>
    </main>
    <%- include('../../footer') %>
  </body>
</html>
