<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./head') %>
  </head>
  <body>
    <%- include('./header') %>
    <main>
      <section>
        <%- include('./title', {
          title: '섹션',
          info: 'https://kbike.kr/support/manage/section',
        }) %>
        <div class="tableWrap">
          <table>
            <thead>
              <tr>
                <th>게시판</th>
                <th>타입</th>
                <th>게시글 순서</th>
                <th>제외 게시판</th>
                <th>출력 갯수</th>
                <th>표시 순서</th>
                <th>수정</th>
                <th>삭제</th>
              </tr>
            </thead>
            <tbody>
              <% sections.forEach(section => { %>
                <form action="/admin/section/edit/<%= section.id %>" method="POST">
                  <tr>
                    <td>
                      <select name="board">
                        <option value=""<% if (!section.section_board_ID) { %> selected<% } %>>최근 게시글</option>
                        <% boards.forEach(b => { %>
                        <option value="<%= b.id %>"<% if (section.section_board_ID === b.id) { %> selected<% } %>><%= b.title %></option>
                        <% }) %>
                      </select>
                    </td>
                    <td>
                      <select name="type">
                        <option value="text"<% if (section.type === 'text') { %> selected<% } %>>텍스트</option>
                        <option value="image"<% if (section.type === 'image') { %> selected<% } %>>이미지</option>
                      </select>
                    </td>
                    <td>
                      <select name="articleOrder">
                        <option value="lately"<% if (section.articleOrder === 'lately') { %> selected<% } %>>최신</option>
                        <option value="older"<% if (section.articleOrder === 'older') { %> selected<% } %>>오래된</option>
                        <option value="best"<% if (section.articleOrder === 'best') { %> selected<% } %>>인기</option>
                        <option value="random"<% if (section.articleOrder === 'random') { %> selected<% } %>>랜덤</option>
                      </select>
                    </td>
                    <td><input type="text" name="exceptBoards" value="<%= section.exceptBoards %>" placeholder="제외 게시판"></td>
                    <td><input type="text" name="viewCount" value="<%= section.viewCount %>" placeholder="출력 갯수"></td>
                    <td><input type="text" name="viewOrder" value="<%= section.viewOrder %>" placeholder="표시 순서"></td>
                    <td><button name="submit" value="edit">수정</button></td>
                    <td><button name="submit" value="delete">삭제</button></td>
                  </tr>
                </form>
              <% }) %>
            </tbody>
          </table>
        </div>
      </section>
      <section>
        <%- include('./title', { title: '새로 등록' }) %>
        <div class="tableWrap">
          <table>
            <thead>
              <tr>
                <th>게시판</th>
                <th>타입</th>
                <th>게시글 순서</th>
                <th>등록</th>
              </tr>
            </thead>
            <tbody>
              <form action="/admin/section/new" method="POST">
                <tr>
                  <input type="hidden" name="sectionGroup" value="<%= sectionGroup.id %>">
                  <td>
                    <select name="board">
                      <option value="">최근 게시글</option>
                      <% boards.forEach(board => { %>
                      <option value="<%= board.id %>"><%= board.title %></option>
                      <% }) %>
                    </select>
                  </td>
                  <td>
                    <select name="type">
                      <option value="text">텍스트</option>
                      <option value="image">이미지</option>
                    </select>
                  </td>
                  <td>
                    <select name="articleOrder">
                      <option value="lately">최신</option>
                      <option value="older">오래된순</option>
                      <option value="best">인기</option>
                      <option value="random">랜덤</option>
                    </select>
                  </td>
                  <td><button>등록</button></td>
                </tr>
              </form>
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </body>
</html>