<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./head') %>
    <meta name="description" content="<%= setting.siteDescription %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= pageTitle %>">
    <meta property="description" content="<%= pageTitle %>">
    <meta property="og:description" content="<%= setting.siteDescription %>">
    <meta property="og:url" content="<%= setting.siteDomain %>/check">
    <link rel="canonical" href="<%= setting.siteDomain %>/check">
    <link rel="stylesheet" href="/stylesheets/check.css">
  </head>
  <body>
    <%- include('./header') %>
    <main>
      <%- include('./aside', { mobile: false }) %>
      <article>
        <%- include('./banner', { position: 'indexTop' }) %>
        <%- include('./banner', { position: 'articleTop' }) %> 
        <%- include('./title', { title: lang.etc_check }) %>
        <section class="buttons">
          <a href="/check?date=<%= yesterday %>"><%= lang.etc_yesterday %></a>
          <a href="/check"><%= lang.etc_today %></a>
          <a href="/check?date=<%= tomorrow %>"><%= lang.etc_tomorrow %></a>
        </section>
        <section id="info">

          <div class="date"><%= lang.etc_checkDate %>:<br><%= today %></br></div>
          <div class="point"><%= lang.etc_checkPoint %>:<%= setting.checkPoint %></div>
          <div class="continue">
            <div class="title"><%= lang.etc_continuousCheckPoint %></div>
            <ul class="popUp">
              <% if (checkContinues.length) { %>
                <% checkContinues.forEach(checkContinue => { %>
                <li><%= checkContinue.date %>일 이상 - <%= checkContinue.point %>점</li>
                <% }) %>
              <% } else { %>
                <li>없음</li>
              <% } %>
            </ul>
          </div>
          <div class="check"><%= lang.etc_checkStatus %>:<% if (status) { %>완료<% } else { %>안함<% } %></div>
        </section>
        <section class="comment">
          <form name="frm" action="/check" method="POST" onsubmit="return onSubmit();">
            <input type="text" name="comment" value="<%= checkComment %>" placeholder="인사말">
            <button><%= lang.etc_checkButton %></button>
          </form>
        </section>
        <section class="checkList">
          <% checks.forEach(check => { %>
          <div class="item">
            <div class="number"><%= check.number %>등</div>
            <div class="nickName"><%= check.nickName %></div>
            <div class="comment"><%= check.comment %></div>
            <div class="point"><%= check.point %>점</div>
            <div class="continue"><%= check.continue %>일째</div>
            <div class="total">총<%= check.total %>일</div>
          </div>
          <% }) %>
        </section>
      </article>

      <%- include('./aside', { mobile: true }) %>
    </main>
    <%- include('./footer') %>
  </body>
</html>