<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./head') %>
    <meta name="description" content="<%= setting.siteDescription %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= pageTitle %>">
    <meta property="description" content="<%= pageTitle %>">
    <meta property="og:description" content="<%= setting.siteDescription %>">
    <meta property="og:url" content="<%= setting.siteDomain %>/findInfo">
    <link rel="canonical" href="<%= setting.siteDomain %>/findInfo">
    <link rel="stylesheet" href="/stylesheets/findInfo.css">
  </head>
  <body>
    <%- include('./header') %>
    <main>
      <article>
        <%- include('./banner', { position: 'indexTop' }) %>
      
        <form action="/findInfo" method="POST">
          <input type="hidden" name="type" value="id">
          <input type="text" name="email" placeholder="<%= __('user_email') %>">
          <button><%= __('user_findId') %></button>
        </form>
      
        <form action="/findInfo" method="POST">
          <input type="hidden" name="type" value="password">
          <input type="text" name="email" placeholder="<%= __('user_email') %>">
          <button><%= __('user_findPassword') %></button>
        </form>
      </article>
    </main>
    <%- include('./footer') %>
  </body>
</html>