<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./head') %>
    <meta name="description" content="<%= setting.siteDescription %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= pageTitle %>">
    <meta property="og:description" content="<%= setting.siteDescription %>">
    <meta property="og:url" content="<%= setting.siteDomain %>/login">
    <link rel="canonical" href="<%= setting.siteDomain %>/login">
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  <body>
    <%- include('./header') %>
    <main>
      <article>
        <%- include('./banner', { position: 'indexTop' }) %>

        <h1><%= __('user_login') %></h1>
        <form action="/login" method="POST">
          <input type="text" name="keyword" placeholder="<%= __('user_idOrEmail') %>">
          <input type="password" name="password" placeholder="<%= __('user_password') %>">
          <button><%= __('user_login') %></button>
        </form>
        <section id="socialAuth">
          <% if (setting.useSocialApple) { %><a href="/auth/apple" class="apple"><img src="/assets/social/apple.svg"><div>Apple<%= __('user_snsLogin') %></div></a><% } %>
          <% if (setting.useSocialGoogle) { %><a href="/auth/google" class="google"><img src="/assets/social/google.svg"><div>Google<%= __('user_snsLogin') %></div></a><% } %>
          <% if (setting.useSocialFacebook) { %><a href="/auth/facebook" class="facebook"><img src="/assets/social/facebook.svg"><div>Facebook<%= __('user_snsLogin') %></div></a><% } %>
          <% if (setting.useSocialTwitter) { %><a href="/auth/twitter" class="twitter"><img src="/assets/social/twitter.svg"><div>Twitter<%= __('user_snsLogin') %></div></a><% } %>
          <% if (setting.useSocialNaver) { %><a href="/auth/naver" class="naver"><img src="/assets/social/naver.svg"><div>Naver<%= __('user_snsLogin') %></div></a><% } %>
          <% if (setting.useSocialKakao) { %><a href="/auth/kakao" class="kakao"><img src="/assets/social/kakao.svg"><div>Kakao<%= __('user_snsLogin') %></div></a><% } %>
        </section>
        <div class="etc"><%= __('user_notYetAMember') %> <a href="/join"><%= __('user_join') %></a></div>
        <div class="find"><a href="/findInfo"><%= __('user_findInfo') %></a></div>
      </article>
    </main>
    <%- include('./footer') %>
  </body>
</html>