<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./head') %>
    <meta name="description" content="<%= setting.siteDescription %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= pageTitle %>">
    <meta property="og:description" content="<%= setting.siteDescription %>">
    <meta property="og:url" content="<%= setting.siteDomain %>/newPassword">
    <link rel="canonical" href="<%= setting.siteDomain %>/newPassword">
    <link rel="stylesheet" href="/stylesheets/findInfo.css">
  </head>
  <body>
    <%- include('./header') %>
    <main>
      <article>
        <h1>새 비밀번호 등록</h1>
        <form action="/findInfo/checkout" method="POST">
          <input type="text" name="authCode" placeholder="인증 번호">
          <input type="password" name="password" placeholder="새 비밀번호">
          <input type="password" name="passwordCheck" placeholder="새 비밀번호 확인">
          <button name="submit" value="checkout">새 비밀번호 등록</button>
          <button name="submit" value="newAuthCode">인증코드 다시 받기</button>
        </form>
      </article>
    </main>
    <%- include('./footer') %>
  </body>
</html>