<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../head') %>
    <meta property="og:url" content="<%= setting.siteDomain %>/alarm" />
    <link rel="canonical" href="<%= setting.siteDomain %>/alarm" />
    <link rel="stylesheet" href="/stylesheets/user/message.css" />
    <link rel="stylesheet" href="/stylesheets/user/user.css" />
  </head>
  <body>
    <%- include('../commons') %> <%- include('../header') %>
    <main>
      <%- include('../aside', { mobile: false }) %>
      <article id="alarm">
        <%- include('../banner', { position: 'indexTop' }) %>
        <%- include('../banner', { position: 'articleTop' }) %> 
        <%- include('./header') %>
        <%- include('../title', { title: lang.user_alarm  }) %>
        <section class="items">
          <% alarms.forEach(alarm => { %>
          <div class="item<% if (alarm.status === 2) { %> read<% } %>">
            <div>
              <div class="info"><%= alarm.datetime %></div>
              <div><a href="<%= alarm.link %>"><%= alarm.content %></a></div>
            </div>
            <div class="status">
              <% if (alarm.status === 1) { %> <%= __('user_newAlarm') %> <% }
              else if (alarm.status === 2) { %> <%= __('user_read') %> <% } %>
            </div>
          </div>
          <% }) %>
        </section>
        <%- include('../pagination') %>
      </article>
      <%- include('../aside', { mobile: true }) %>
    </main>
    <%- include('../footer') %>
  </body>
</html>
