<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../head') %>
    <meta property="og:url" content="<%= setting.siteDomain %>/mypage" />
    <link rel="canonical" href="<%= setting.siteDomain %>/mypage" />
    <link rel="stylesheet" href="/stylesheets/user/user.css" />
    <style>
      article .userImage {
        <% if (locals.user.image) { %>
        background-image: url('<%= storage %>/user/<%= locals.user.image %>');
        <% } else { %>
        background-image: url('/assets/user.svg');
        <% } %>
      }
    </style>
  </head>
  <body>
    <%- include('../commons') %> <%- include('../header') %>
    <main>
      <%- include('../aside', { mobile: false }) %>
      <article id="mypage">
        <%- include('../banner', { position: 'indexTop' }) %>
        <%- include('../banner', { position: 'articleTop' }) %> 
        <%- include('./header') %> <%- include('../title', { title:
        lang.user_changePassword }) %>
        <form action="/mypage/password" method="POST">
          <div class="password">
            <div>
              <input
                type="password"
                name="oldPassword"
                placeholder="<%= __('user_previousPassword') %>"
              />
            </div>
            <div>
              <input
                type="password"
                name="password"
                placeholder="<%= __('user_password') %>"
              />
            </div>
            <div>
              <input
                type="password"
                name="passwordCheck"
                placeholder="<%= __('user_passwordCheck') %>"
              />
            </div>
          </div>
          <div><button><%= __('user_changePassword') %></button></div>
        </form>
      </article>
      <%- include('../aside', { mobile: true }) %>
    </main>
    <%- include('../footer') %>
  </body>
</html>
