<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../head') %>
    <meta
      property="og:url"
      content="<%= setting.siteDomain %>/mypage/article"
    />
    <link rel="canonical" href="<%= setting.siteDomain %>/mypage/article" />
    <link rel="stylesheet" href="/stylesheets/user/user.css" />
  </head>
  <body>
    <%- include('../commons') %> <%- include('../header') %>
    <main>
      <%- include('../aside', { mobile: false }) %>
      <article id="myPoint">
        <%- include('../banner', { position: 'indexTop' }) %>
        <%- include('../banner', { position: 'articleTop' }) %>  
        <%- include('./header') %> <%- include('../title', { title:
        lang.user_pointHistory }) %>
        <section id="item">
          <div class="items">
            <% points.forEach(point => { %>
            <div class="item">
              <div class="main">
                <div class="type"><%= point.type %></div>
              </div>
              <div class="info">
                <div class="point"><%= point.point.toLocaleString() %></div>
                <div class="datetime"><%= point.datetime %></div>
              </div>
            </div>
            <% }) %>
          </div>
          <div class="pointwithdraw">
          <button type="button">
          <a href="/mypage/pointwithdraw">포인트 출금하기</a></button></div>
        </section>
        <%- include('../pagination') %>
      </article>
      <%- include('../aside', { mobile: true }) %>
    </main>
    <%- include('../footer') %>
  </body>
</html>
