<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../../../head') %>
    <meta
      property="og:url"
      content="<%= setting.siteDomain %>/<%= board.slug %>/new"
    />
    <link
      rel="canonical"
      href="<%= setting.siteDomain %>/<%= board.slug %>/new"
    />
    <link rel="stylesheet" href="/stylesheets/board/content.css" />
    <link rel="stylesheet" href="/stylesheets/editor/ckeditor5/editor.css" />
    <%- include('./editor') %>
    <style>
      .content a {
        color: <%= setting.pointColor %>;
      }
    </style>
    <script src="/javascripts/editor/ckeditor5/editor.js?v=0.06" defer></script>
  </head>
  <body>
    <%- include('../../../header') %>
    <main>
      <%- include('../../../aside', { mobile: false }) %>
      <article>
        <%- include('../../../banner', { position: 'indexTop' }) %>
        <%- include('../../../title', { title: board.title }) %>
        <form
          action="/<%= board.slug %>/new"
          method="POST"
          enctype="multipart/form-data"
          onsubmit="onSubmit(this); return false;"
        >
          <input type="hidden" name="articleId" value="<%= articleId %>" />
          <% if (board.categories?.length || locals.user?.isAdmin) { %>
          <div class="subContainer">
            <% if (board.categories?.length) { %>
            <div class="categoryContainer">
              <select name="category" id="category">
                <% board.categories.forEach(category => { %>
                <option value="<%= category.id %>">
                  <%= category.title %>
                </option>
                <% }) %>
              </select>
            </div>
            <% } else { %>
            <input type="hidden" id="category" value="0" />
            <% } %>
            <div class="checkBox">
              <% if (locals.user?.isAdmin) { %>
              <div class="notice">
                <label for="notice"><%= __('board_notice') %></label>
                <input type="checkbox" name="notice" id="notice" value="1" />
              </div>
              <% } %>
            </div>
            <div class="mini-button">
              <button class="button-1"><%= __(`글등록`) %></button>
            </div>
          </div>
          <% } %> <% if (!locals.user && board.writePermission === 0) { %>
          <div class="nonMember">
            <input
              type="text"
              name="nickName"
              placeholder="<%= __('board_nickName') %>"
            />
            <input
              type="password"
              name="password"
              placeholder="<%= __('board_password') %>"
            />
          </div>
          <% } %>
          <div class="title">
            <input
              type="text"
              name="title"
              id="title"
              placeholder="<%= __('board_title') %>"
            />
          </div>




          <% if (board.useCustomField01 || board.useCustomField02 ||
          board.useCustomField03 || board.useCustomField04 ||
          board.useCustomField05 || board.useCustomField06 ||
          board.useCustomField07 || board.useCustomField08 ||
          board.useCustomField09 || board.useCustomField10) { %>
          <div class="customFieldContainer">
            <% if (board.useCustomField01) { %>
            <div>
              <input
                type="text"
                name="customField01" 
                onfocus="this.placeholder=''"
                placeholder="<%= board.customFieldTitle01 %>"
              />
            </div>

            
            <% } %> <% if (board.useCustomField02) { %>
            <div>
              <input
                type="text"
                name="customField02"
                onfocus="this.placeholder=''"
                placeholder="<%= board.customFieldTitle02 %>"
              />
            </div>
            <% } %> 
            
            
            <% if (board.useCustomField03) { %>
            <div>
              <input
                type="text"
                name="customField03"
                onfocus="this.placeholder=''"
                placeholder="<%= board.customFieldTitle03 %>"
              />
            </div>
            <% } %> <% if (board.useCustomField04) { %>
            <div>
              <input
                type="text"
                name="customField04"
                onfocus="this.placeholder=''"
                placeholder="<%= board.customFieldTitle04 %>"
              />
            </div>
            <% } %> <% if (board.useCustomField05) { %>
            <div>
              <input
                type="text"
                name="customField05"
                onfocus="this.placeholder=''"
                placeholder="<%= board.customFieldTitle05 %>"
              />
            </div>
            <% } %> <% if (board.useCustomField06) { %>
            <div>
              <input
                type="text"
                name="customField06"
                onfocus="this.placeholder=''"
                placeholder="<%= board.customFieldTitle06 %>"
              />
            </div>
            <% } %> <% if (board.useCustomField07) { %>
            <div>
              <input
                type="text"
                name="customField07"
                onfocus="this.placeholder=''"
                placeholder="<%= board.customFieldTitle07 %>"
              />
            </div>
            <% } %> <% if (board.useCustomField08) { %>
            <div>
              <input
                type="text"
                name="customField08"
                onfocus="this.placeholder=''"
                placeholder="<%= board.customFieldTitle08 %>"
              />

            </div>
            <% } %> <% if (board.useCustomField09) { %>
            <div>
              <input
                type="text"
                name="customField09"
                onfocus="this.placeholder=''"
                placeholder="<%= board.customFieldTitle09 %>"
              />
            </div>
            <% } %> <% if (board.useCustomField10) { %>
            <div>
              <input
                type="text"
                name="customField10"
                onfocus="this.placeholder=''"
                placeholder="<%= board.customFieldTitle10 %>"
              />
            </div>
            <% } %>
          </div>
          <% } %>

          
          <div class="content">
            <div class="textareaContainer">
              <textarea name="content" id="editor"></textarea>
            </div>
          </div>
          <% if (board.useHtml) { %>
          <div class="html">
            <textarea name="html" placeholder="추가리뷰">🕵️Review - </textarea>
          </div>
          <% } %>
          <div class="tags">
            <input
              type="text"
              name="tags"
              placeholder="<%= __('board_tag') %>"
            />
          </div>
          <% if (board.useLinks) { %>
          <div class="links">
            <input
              type="text"
              name="links"
              placeholder="<%= __('board_link') %>"
            />
          </div>
          <% } %> <% if (board.useFiles) { %>
          <div class="files">
            <input
              type="file"
              name="files"
              placeholder="<%= __('board_file') %>"
              multiple
            />
          </div>
          <% } %>
          <div class="button"><button><%= __('board_submit') %></button></div>
        </form>
      </article>
      <%- include('../../../aside', { mobile: true }) %>
    </main>
    <%- include('../../../footer') %>
  </body>
</html>
